{% load static %}
<link
   rel="stylesheet"
   type="text/css"
   href="{% static 'members/css/bootstrap.css' %}"
/>

<form action="" method=POST>
   {% csrf_token %}

   <div class="container hidden">
      {% if messages %}
         <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
         </ul>
      {% endif %}
   </div>

   <div class="container">
      {% if user.is_authenticated %}
         <p>Logged in as {{ user }}</p>
      {% else %}
         <a href="{% url 'register_user' %}">Not registered yet?</a>
      <br></br>
      {% endif %}
   </div>

   {% if user.is_authenticated %}
   <div class="container">
      <p>{% lorem 1 b random %}</p>
   </div>
   <a href="{% url 'logout' %}">Log Out</a>

   {% else %}
      <div class="container">
         <div class="form-floating">
            <input type="text" class="form-control" name="username" placeholder="Username">
            <label for="username">Username</label>
         </div>
         </br>
         <div class="form-group">
            <div class="form-floating">
               <input type="password" class="form-control" name="password" placeholder="Password">
               <label for="password">Password</label>
            </div>
         </div>
         </br>
         <button type="submit" class="btn btn-primary">Submit</button>
      </div> 
   {% endif %}

</form>