<link href="login_style.css" type="text/css" rel="stylesheet">
<form action="" method=POST>
   {% csrf_token %}
   <div class="container">
      {% if messages %}
         <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
         </ul>
      {% endif %}
   </div>

   <div>
      {% if user.is_authenticated %}
         <p>Logged in as {{ user }}</p>
      {% else %}
         <a href="{% url 'register_user' %}">Register</a>
      <br></br>
      {% endif %}
   </div>

   {% if user.is_authenticated %}
   <div class="form-group">
      <h2>{% lorem 1 b random %}</h2>
      <a href="{% url 'logout' %}">Log Out</a>
   {% else %}
   <label for="username">Enter Username</label>
   <input type="text" class="form-control" name="username" placeholder="Enter username">
</div>

<div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" name="password" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
   {% endif %}

 </form>