{% load static %}
<link
   rel="stylesheet"
   type="text/css"
   href="{% static 'members/css/bootstrap.css' %}"
/>


<title>Sign Up</title>
<br/>
<div class="container" span>
    <h2>User Registration</h2>
    <hr>
</div>


{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Error with form!
    </div>
{% endif %}

<br/>
<div class="container">
    <form action="{% url 'register_user' %}" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-secondary" href="{% url 'login' %}">Discard</a>
        <p class="mt-5 mb-3 text-body-secondary"> IOT Machine Monitor™ </p> 
</div>