.gauge-container
{
    width:50%;
    height: 200px;
}

.gauge-container > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
  }
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
  }
  .gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans, 'sans-serif';
    font-weight: bold;
    font-size: 0.6em;
  }