<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body style="margin: 0; padding: 0;">

    <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark" style="position: relative; z-index: 1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">IOT Machine Monitor </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="btn btn-dark my-2 my-sm-0" href="#">About</a>
                    </li>
                </ul>
                <div class="d-flex">                    
                    <a class="btn btn-dark my-2 my-sm-0" href="login">Login</a>
                </div>
                <a class="btn btn-dark my-2 my-sm-0" href="register">Register</a>
            </div>
        </div>
    </nav>

    <div class="video-container" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 0;">
        <video autoplay muted loop id="myVideo" style="width: 100%; height: 100%; object-fit: cover;">
            <source src="static/bgvid.mp4" type="video/mp4">
        </video>
    </div>

    <div class="text-overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 10px; z-index: 1;">
        <p class="lead">
            The IOT Machine Monitoring System focuses on providing a workspace for users and industrialists where users can register their IOT devices by getting a unique token which can connect to the secured network thereby establishing a connection between our server and the user's devices. Currently we are focusing on building up the cloud platform and providing basic functionalities like switches and gauges, but later we are planning to scale up the business by including technologies like machine learning and computer vision so that we can apply these techs in continuous monitoring of production, manufacturing, construction and in various other fields to study and provide better, profitable means to increase, improve production and business.
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
